release:
  project_id: "{{ project_id }}"
  reviewed_at: ""
  reviewed_by: ""
  data_classification: "{{ data_classification }}"

  approved_files: []

  checks:
    direct_identifiers_removed: false
    small_cells_reviewed: false
    free_text_reviewed: false
    disclosure_risk_reviewed: false

  disclosure_control:
    rule_reference: "Osaka University Biostatistics & RWD Release Guidelines"
    small_cell_threshold: 5
    notes: ""
